{% extends 'inc/_3blocks.html' %}

{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="row">
        <div class="col">
            <h1 class="mb-3">Письмо с инструкциями по восстановлению пароля отправлено.</h1>
            <p>
                Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты
                (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
            </p>
            <p>
                Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес указанный в личном кабинете,
                и проверьте папку со спамом.
            </p>
            </div>
        </div>
    </div>

</form>

{% endblock %}