{% extends 'inc/_3blocks.html' %}

{% load crispy_forms_tags %}

{% block title %}Восстановление пароля завершено{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-3">Восстановление пароля завершено.</h1>
                <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
                <div><a href="{% url 'lk' %}">Перейти в личный кабинет</a></div>
            </div>
        </div>
    </div>

</form>

{% endblock %}