{% extends 'inc/_3blocks.html' %}

{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="row">
        <div class="col text-center">
            <h1>Восстановление пароля</h1>
                {{ form.email|as_crispy_field }}
            <p>Введите адрес электронной почты, который вы указали в личном кабинете.</p>
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Сбросить пароль</button>
            </div>
        </div>
    </div>

</form>

{% endblock %}